body {
  background-color: #e6eff6;
  font-family: Karla;
  font-size: 16px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.join {
  background-color: #fff;
  width: 68%;
  padding: 35px 75px 30px 40px;
  margin-top: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 38px -22px rgba(0,0,0,0.75);
}

.jointext-top {
  color: hsl(181, 45%, 60%);
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: 700;
}

.jointext-middle {
  color: hsl(71, 73%, 54%);
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 700;
}

.jointext-bottom {
  color: hsl(218, 22%, 67%);
  font-size: 1.1rem;
  font-weight: 400;
}

.first-box {
  background-color: #2cb2b2;
  color: #fff;
  padding: 40px;
  width: 34%;
	border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 38px -22px rgba(0,0,0,0.75);
}

.monthlytext-top {
  font-size: 20px;
  font-weight: 700;
}

.monthlytext-middle {
  margin: 0;
}

.money {
  font-size: 40px;
  font-weight: 700;
  margin-right: 10px;
}

sup {
  font-size: 120%;
  vertical-align: middle;
}

.per {
  color: hsl(181, 61%, 67%);
}

.monthlytext-bottom {
  font-size: 19px;
  margin-bottom: 30px;
}

.btn-block {
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  padding: 12px;
  border: 0;
  box-shadow: 0px 25px 33px -21px rgba(0,0,0,0.75);
}

.btn-block:hover {
  color: #000000;
}

.second-box {
	background-color: #4abebd;
  color: #fff;
  padding: 40px;
  width: 34%;
	border-bottom-right-radius: 10px;
  box-shadow: 7px 12px 36px -29px rgba(0,0,0,0.75);
}

.whytext-top {
  font-size: 20px;
  font-weight: 700;
}

.list {
	list-style-type: none;
	padding-left: 0;
}

li {
  color: hsl(183, 35%, 87%);
}

.attribution {
   font-size: 15px;
   text-align: center;
   margin-top: 25px;
 }

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 900px) {

.container {
  width: 95%;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join {
  width: 100%;
  margin-top: 50px;
  padding: 20px 38px 20px 20px;
}

.jointext-top {
  font-size: 20px;
}

.jointext-middle {
  font-size: 15px;
}

.jointext-bottom {
  font-size: 13px;
  line-height: 2;
}

.first-box {
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 0;
}

.second-box {
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 10px;
}

.monthlytext-top {
  font-size: 19px;
}

.money {
  font-size: 35px;
}

sup {
  font-size: 105%;
}

.monthlytext-bottom {
  font-size: 16px;
}

.btn-block {
  font-size: 17px;
  margin-bottom: 5px;
}

li {
  font-size: 14px;
}

.attribution {
  font-size: 13px;

}
